<div id="menu" class="menu">
<nav>

    <h3 id="home" class="standalone-page jlink" href="{{ index .Site.Params "rootlink" | default .Site.BaseURL }}">
        Home
    </h3>

    <h3 id="resume" class="standalone-page jlink" href="resume">
        Resume
    </h3>

    {{ range where .Site.Sections "Section" "in" .Site.Params.VisibleSections }}
    <!-- {{ println "inside site section:" }} -->
    <!-- {{ println . }} -->
    <div id="{{.Title}}" class="open">
        <h3 data-open="{{.Title}}">{{.Title}}</h3>
        <ul class="{{.Title}}">
            {{ range .Pages }}
            <!-- {{ println "page:" }} -->
            <!-- {{ println . }} -->
            <li class="jlink" href="{{ .URL }}">{{ .Title }}</li>
            {{ end }}
        </ul>
    </div>
    {{ end }}

</nav>
</div>
